<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

<form method="post">
	<table border="0">

		<tr>
			<td>Food</td>
			<td>:<%= search.name %></td>
			<input type="hidden" name="name" value="<%= search.fname %>">
		</tr>
		<tr>
			<td>:Restaurant Name</td>
			<td>:<%= search.rname %></td>
			<td><input type="hidden" name="username" value="<%= search.rname %>"></td>
		</tr>
		<tr>
			<td>Price</td>
			<td>:<input type="text" name="type" value="<%= search.price %>"></td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Save" /></td>
			<td></td>
		</tr>
	</table>
</form>
</body>
</html>